if containers && containers.length > 0
  table
    thead
      tr
        th VMID
        th Name
        th Status
        th IPv4
        th Memory
        th CPU
        th Disk
        th Swap
        th Uptime
        th Actions
    tbody#container-list(
      hx-get="/containers"
      hx-trigger="every 15s"
      hx-swap="innerHTML"
    )
      each container in containers
        include container-row.pug
else
  include empty-state.pug
